<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.shiva.moneybank">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Form" />
        <activity
            android:name=".MainActivity"
            android:label="@string/title_activity_main"
            android:launchMode="singleTask"
            android:theme="@style/AppTheme" />
        <activity android:name=".Form2" />
        <activity android:name=".CashActivity" />
        <activity android:name=".CardsActivity" />
        <activity android:name=".AddACard" />
        <activity
            android:name=".HistoryActivity"
            android:label="@string/title_activity_history"
            android:theme="@style/AppTheme" />
        <activity android:name=".License" />
        <activity android:name=".Events" />
        <activity android:name=".Toolsd" />
        <activity
            android:name=".Tools"
            android:label="@string/title_activity_tools"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".Settings"
            android:label="@string/title_activity_settings"
            android:theme="@style/AppTheme"></activity>
    </application>

</manifest>